[build]
  publish = "public"
  functions = "functions"

[build.environment]
  NODE_VERSION = "22.21.1"
  NPM_VERSION = "11.6.2"

[context.production]
  command = "npm run build"

[context.deploy-preview]
  command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.next]
  command = "npm run build"

[context.next.environment]
  HUGO_ENV = "next"

[[redirects]]
# redirect old blog post to new one
  from = "/blog/rokt-tim-koko/*"
  to = "/blog/tim-koko/"
  status = 301
  force = true

[[redirects]]
# redirect old en blog post to new one
  from = "/en/blog/rokt-tim-koko/*"
  to = "/en/blog/tim-koko/"
  status = 301
  force = true

[dev]
  framework = "#custom"
  command = "npm run start"
  targetPort = 1313
  port = 8888
  publish = "public"
  autoLaunch = false


  # Content-Security-Policy: default-src 'self'; manifest-src 'self'; connect-src 'self'; font-src 'self'; img-src 'self' data:; script-src 'self' 'nonce-dXNlcj0iaGVsbG8iLGRvbWFpbj0iaGVua3ZlcmxpbmRlLmNvbSIsZG9jdW1lbnQud3JpdGUodXNlcisiQCIrZG9tYWluKTs=' 'sha256-aWZ3y/RxbBYKHXH0z8+8ljrHG1mSBvyzSfxSMjBSaXk=' 'sha256-Sz0IuK/4LfFJVp69F4UHK80xoxDZLOBPMJhPi0XZl3A='; style-src 'self' 'unsafe-inline'