/** Import Bootstrap functions */
@import "bootstrap/scss/functions";
@import "swiper/swiper";

// @import 'swiper/css/navigation';
// @import 'swiper/css/pagination';
// @import 'swiper/css/effect-fade';
// @import 'swiper/css/autoplay';

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/custom";
@import "common/swup";
@import "components/alerts";
@import "components/buttons";
@import "components/pagination";
@import "components/home-gallery";

// @import "components/code";
// @import "components/syntax";
// @import "components/comments";
// @import "components/forms";
@import "components/images";
@import "components/swiper";
@import "components/scroll-out";
@import "components/floaters";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/forms";
