.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .hello {
    position: absolute;
    transform: rotate(-10deg) translate(-44px, -44px);
    font-size: 2rem;
  }

  .email {
    @include media-breakpoint-up(md) {
      width: 60px;
    }
  }

  a {
    transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;

    &:hover img {
      transform: rotateY(360deg) !important;
      transition: 0.6s;
      transform-style: preserve-3d;
    }
  }
}

.footer p {
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .footer p {
    font-size: $font-size-base;
  }
}
