.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-text {
  margin-left: 1rem;
}

@include media-breakpoint-down(sm) {
  .navbar .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: $font-size-xl;
  }

  .menu-item {
    margin-left: 1.25rem;
    font-size: 2.4rem;
  }
}

.navbar-brand {
  .logo {
    width: 12rem;
    max-width: 220px;
    transition: all 0.2s ease;

    @include media-breakpoint-up(lg) {
      width: 20rem;

      [data-scroll="out"] & {
        width: 9.2rem;
      }
    }
  }
}

.banner {
  background: $blue;
  padding: 3rem 2rem;
  transition: all 0.2s ease;

  @include media-breakpoint-up(lg) {
    padding: 50px 60px 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    &[data-scroll="out"] {
      // padding: 1rem 60px;
      box-shadow: 0 -10px 16px 10px rgba($green, 0.6);
      transform: translateY(-4rem);
    }
  }
}
