p.meta {
  margin-top: 1rem;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  color: $gray-dark;
}

@include media-breakpoint-down(sm) {
  p.meta {
    font-size: $font-size-base * 0.9375;
  }
}

p.meta a {
  color: $gray-dark;
}

p.meta a:hover,
p.meta a:focus {
  color: $primary;
}

.lead {
  color: $blue;
  font-size: 2.4rem; // 3.3rem;
  font-weight: normal;
  line-height: 1.455;

  @include media-breakpoint-up(lg) {
    font-size: 5rem; // 5.6rem;
    line-height: 1.333;
  }

  h1 {
    font-size: 1em;
    color: $green;
  }

  span {
    background-color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 50rem;
    // stylelint-disable
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    // stylelint-enable
    @include media-breakpoint-up(md) {
      padding: 1rem 3rem;
    }
  }
}

.floater {
  position: absolute;

  &.smile {
    bottom: -30%;
    left: -13%;

    @include media-breakpoint-down(lg) {
      width: 75px;
    }

    @include media-breakpoint-down(md) {
      bottom: -67px;
      left: auto;
      right: 10%;
    }
  }

  &.rocket {
    top: -300px;
    left: 31%;

    @include media-breakpoint-down(lg) {
      width: 65px;
    }

    @include media-breakpoint-down(md) {
      top: 105%;
      left: 10%;
      width: 65px;
    }
  }

  &.cloud {
    top: -78px;
    right: -80px;

    @include media-breakpoint-down(lg) {
      width: 100px;
    }

    @include media-breakpoint-down(md) {
      top: -78px;
      right: 20px;
      width: 100px;
    }
  }

  &.arrow {
    top: -170px;
    left: 50%;

    @include media-breakpoint-down(lg) {
      width: 40px;
    }

    @include media-breakpoint-down(md) {
      top: 122%;
      left: 31%;
    }
  }

  /*
  img {
    transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  &:hover {
    img {
      transform: rotateY(360deg);
    }
  }
  */
}
