// stylelint-disable property-no-vendor-prefix
p.meta {
  margin-top: 1rem;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  color: $gray-dark;
}

@include media-breakpoint-down(sm) {
  p.meta {
    font-size: $font-size-base * 0.9375;
  }
}

p.meta a {
  color: $gray-dark;
}

p.meta a:hover,
p.meta a:focus {
  color: $primary;
}

.lead {
  color: $blue;
  font-size: 2.4rem; // 3.3rem;
  font-weight: normal;
  line-height: 1.455;
  margin-right: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.6rem; // 5.6rem;
    line-height: 1.333;

    #about & {
      font-size: 2.4rem;
      line-height: 1.455;
    }
  }

  h1 {
    font-size: 1em;
    color: $green;
  }

  span {
    background-color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 50rem;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;

    @include media-breakpoint-up(md) {
      padding: 1rem 3rem;
    }
  }

  animation: fade-in-stagger 0.8s ease forwards 0.1s;
  opacity: 0;
  transform: translateY(40px);

  // transition: opacity 0.3s ease;
  -webkit-perspective: 1000;
  perspective: 1000;
  backface-visibility: hidden;
}

// keyframes
@keyframes fade-in-stagger {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// delay
@for $i from 1 to 5 {
  .floater:nth-child(#{$i}) img {
    animation-delay: ($i * 0.25s) + 0.5s;
  }
}

.cloud-text {
  margin-top: -5rem;
}
