.needsborder {
  picture {
    img {
      border: 1px solid #6b7384;
      display: block;
    }
  }
}

.author-img {
  width: 10rem;

  @include media-breakpoint-up(md) {
    width: 12rem;
  }

  .single.blog & {
    width: 5rem;
  }
}
