.needsborder {
  img {
    border: 1px solid #6b7384;
    display: block;
  }
}

.author-img {
  width: 10rem;

  @include media-breakpoint-up(md) {
    width: 12rem;
  }

  .single.blog & {
    width: 5rem;
  }
}


.infobox-content {
  li {
    line-height: 1.7;
  }
}

.infobox-content ul {
  @include media-breakpoint-up(md) {
    column-count: 2;
    column-gap: 4rem;
  }
}