.btn-primary {
  --bs-btn-font-size: 2rem;
  --bs-btn-padding-x: 3rem;
  --bs-btn-padding-y: 1rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #99e0bb;
  --bs-btn-border-color: #99e0bb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #09112b;
  --bs-btn-hover-border-color: #99e0bb;
  --bs-btn-focus-shadow-rgb: 47, 55, 81;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #081028;
  --bs-btn-active-border-color: #080f26;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #99e0bb;
  --bs-btn-disabled-border-color: #99e0bb;
}
