pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: $font-size-xl;
}

pre {
  background: $blue-lighter;
  color: $gray-lighter;
  line-height: $line-height-base;
  margin: 1.5rem 0;
  overflow: auto;
  padding: 1.5rem;
  tab-size: 4;
}

code {
  background: $blue-lighter;
  color: $gray-lighter;
  padding: 0.5rem 0.5rem 0.25rem;
}

pre code {
  background: none;
  font-size: inherit;
  padding: 0;
}

code a {
  border-bottom-color: $gray-200;
}
