#slideshow,
#slideshow2 {
  overflow: hidden;
  outline: none;
  position: sticky;
  top: 4vh;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  .flickity-slider,
  .slider {
    display: flex;
    height: 100%;
    align-items: center;
    width: 240vmin;
    transition: transform 0.2s ease-out;
  }

  .carousel-cell {
    width: 44vmax;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      width: 44vmin;
    }
  }
}

.slideshow-container {
  --scroll-length: 5;

  height: calc(var(--scroll-length) * 100vh);
}

.navi {
  position: absolute;
  left: -0.75rem;
  z-index: 2;

  .button-previous svg {
    transform: rotate(180deg);
  }
}
