#slideshow {
  overflow: hidden;
  outline: none;
  position: sticky;
  top: 4vh;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  .flickity-slider {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .carousel-cell {
    width: 55%;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
}

.slideshow-container {
  --scroll-length: 5.5;

  height: calc(var(--scroll-length) * 100vh);
}
