<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head/head.html" . }}
  {{- partial "head/body-class.html" . -}}
  <body class="{{ delimit (.Scratch.Get "class") " " }}" data-bs-spy="scroll" data-bs-target="#main-menu">
    {{ partial "header/header.html" . }}
    <div id="main" class="wrap transition-fade" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>