<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head/head.html" . }}
  {{- partial "head/body-class.html" . -}}
  <body class="{{ delimit (.Scratch.Get "class") " " }}" data-bs-spy="scroll" data-bs-target="#main-menu">
       <a class="visually-hidden-focusable" href="#main">
        {{  i18n "skipToContent" }}
      </a>
    {{ partial "header/header.html" . }}
    <main id="main" class="wrap transition-fade" role="main">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>