
  <div {{ if .Params.dataScroll }}data-scroll {{ end }}class="row gy-5 mb-8 position-relative {{ .Title | urlize}} {{ range $key, $value := .Params.categories }} cat-{{ (replace $value "/" "-") | urlize }} {{ end }} ">

    <div class="col-md-6 {{ if .Params.img_border }} needsborder {{ end }}">

     {{with .Params.post_img }}
      {{ partial "img-srcset.html" (dict "img" . "size" 500 ) }}
    {{ end }}

    </div>

    <div class="col-md-5 d-flex flex-column">

       
         {{/* 
         <div class="d-flex flex-wrap">
           {{ range $key, $value := .Params.categories }}
           <span class="extra-small mb-2 me-2 px-3 py-1 border border-2 border-light rounded-pill">{{ $value }}</span>
           {{ end }}
          </div>
          */}}
          {{/* 
          {{ if .Date }}
          <div class="ms-auto_ mt-1 nowrap small">{{ .Date.Format "02.01.2006" }}</div>
          {{ end }}
          */}}

      
        <h2 class="h3 mb-4 pe-md-5 me-md-5 mt-auto">{{ .Title }}</h2>
        <div class="mb-4 mb-lg-8 small">{{ .Params.lead }}</div>
               
        <a class="small stretched-link mb-auto" href="{{ .RelPermalink | safeURL }}">{{ i18n "readMore" }}
          <div class="icon-draw line"><svg xmlns="http://www.w3.org/2000/svg" width="84" height="10" viewBox="0 0 91.45565 10.81185"><path vector-effect="non-scaling-stroke" d="M1.41188,3.81092c30.82411-1.61772,52.39289,5.57187,86.64564,1.56359" fill="none" fill-rule="evenodd" stroke="#99e0bb" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg></div>
        </a>
  

      </div>
    </div>

 