
  <div data-scroll  class="row gy-5 mb-8 position-relative {{ .Title | urlize}} {{ range $key, $value := .Params.categories }} cat-{{ (replace $value "/" "-") | urlize }} {{ end }} ">

    <div class="col-md-6 {{ if .Params.img_border }} needsborder {{ end }}">

     {{with .Params.post_img }}
        {{- partial "img" (dict "page" $.Page "src" . "width" 616 "process" "fill 1200x800"  "alt" "" "loading" "lazy") }}
    {{ end }}

    </div>

    <div class="col-md-5 d-flex flex-column">

       
         {{/* 
         <div class="d-flex flex-wrap">
           {{ range $key, $value := .Params.categories }}
           <span class="extra-small mb-2 me-2 px-3 py-1 border border-2 border-light rounded-pill">{{ $value }}</span>
           {{ end }}
          </div>
          */}}
          {{/* 
          {{ if .Date }}
          <div class="ms-auto_ mt-1 nowrap small">{{ .Date.Format "02.01.2006" }}</div>
          {{ end }}
          */}}

      
        <h2 class="h3 mb-4 mt-auto">{{ .Title }}</h2>
        <div class="mb-4 mb-lg-8 ">{{ .Params.lead }}</div>
        <a class="line stretched-link mb-auto" href="{{ .RelPermalink | safeURL }}">{{ i18n "readMore" }}</a>
      </div>
    </div>

 