{{ define "main" }}
<div class="hero container-fluid  mb-23 mb-lg-28">
  <div class="text-secondary lead">Into the cloud</div>
  <h1>Cloud Native <span class="d-block">Transformation,</span> die rokt.</h1>
</div>

<div class="container-fluid  mb-23 mb-lg-28 position-relative">
<div class="col-sm-9 col-md-8 col-xl-7  mx-auto">
    <div class="lead"><span>
      Wir bringen dich und dein Unternehmen in die Cloud.
      Unkompliziert und kompetent.
      Für bessere Ergebnisse und gute Laune.</span>
  </div>
</div>

  <div class="floaters">
    <div class="floater rocket "><img src='{{ (resources.Get "images/Rocket.svg").Permalink }}' alt="" class="img-fluid" width="105" height="144"></div>
    <div class="floater arrow"><img src='{{ (resources.Get "images/Arrow-4.svg").Permalink }}' alt="" class=" img-fluid" width="70" height="153"></div>
    <div class="floater cloud "><img src='{{ (resources.Get "images/Cloud.svg").Permalink }}' alt="" class="img-fluid" width="167" height="103"></div>
    <div class="floater smile "><img src='{{ (resources.Get "images/Smile.svg").Permalink }}' alt="" class="img-fluid" width="133" height="130"></div>
  </div>
</div>
        

<section id="cloud-native" class="section container-fluid  mb-23 mb-lg-28">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <img src="" alt="">
    </div>
    <div class="col ">
      <h2 class="mb-4 mb-lg-8">Das Potenzial moderner Technologien erlebbar machen durch Cloud Native</h2> 
      Wir glauben, dass in modernen technologischen Ansätzen wie Cloud Native und Open Source das Fundament für eine bessere Zukunft steckt. Dass sie für Unternehmen und Menschen einen spürbaren Unterschied machen. Deshalb helfen wir Cloud Native Computing für alle zugänglich zu machen. Damit jede und jeder selbst die Kraft und die Magie daran erleben kann. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.
    </div>
  </div>
</section>

<section   class="section container-fluid  mb-23 mb-lg-28">

  <h2 class="mb-8 text-center">Wir setzen auf neuste Technologien</h2>
  <div class="row row-cols-3 row-cols-lg-8">
    <div class="col">
      <img src="" alt="">
    </div>
 
  </div>
</section>

<section id="services" class="section container-fluid  mb-23 mb-lg-28">

  <div class="col-lg-6 mb-8">
      <h2 class="mb-4 mb-lg-8">Services – Wir helfen Unternehmen besser zu sein</h2> 
      Wir glauben, dass in modernen technologischen Ansätzen wie Cloud Native und Open Source das Fundament für eine bessere Zukunft steckt. Dass sie für Unternehmen und Menschen einen spürbaren Unterschied machen. Deshalb helfen wir Cloud Native Computing für alle zugänglich zu machen. Damit jede und jeder selbst die Kraft und die Magie daran erleben kann. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.
  </div>

  <div class="row row-cols-1 row-cols-lg-2  gy-10">
    <div class="col">
      <h3 class="mb-2 mb-lg-4">Cloud Native Consulting</h3> 
      <p>Man kriegt von ROKT einen erfahrenen Cloud Native Consultant, welche(r) einem bei der Bewältigung der Cloud Herausforderung stets zur Seite steht.</p>
      <ul>
        <li>Begleiten der Cloud Native Journey von A – Z (beinhaltet das magische Dreieck, Technologie, Kultur und Prozesse)</li>
        <li>Cloud Architektur Design und 	Lösungsarchitektur</li>
        <li>Coachen von Mitarbeitenden, Trainings</li>
        <li>Workshops, Reviews</li>
      </ul>
    </div>
    <div class="col">
      <h3 class="mb-2 mb-lg-4">Cloud Native Consulting</h3> 
      <p>Man kriegt von ROKT einen erfahrenen Cloud Native Consultant, welche(r) einem bei der Bewältigung der Cloud Herausforderung stets zur Seite steht.</p>
      <ul>
        <li>Begleiten der Cloud Native Journey von A – Z (beinhaltet das magische Dreieck, Technologie, Kultur und Prozesse)</li>
        <li>Cloud Architektur Design und 	Lösungsarchitektur</li>
        <li>Coachen von Mitarbeitenden, Trainings</li>
        <li>Workshops, Reviews</li>
      </ul>
    </div>
  </div>
</section>


Bilder Galerie

<section id="about" class="section container-fluid  mb-23 mb-lg-28">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <img src="" alt="">
    </div>
    <div class="col">
      <h2 class="mb-4 mb-lg-8">Über uns <br>Wir leben Cloud Native</h2> 
      Wir glauben, dass in modernen technologischen Ansätzen wie Cloud Native und Open Source das Fundament für eine bessere Zukunft steckt. Dass sie für Unternehmen und Menschen einen spürbaren Unterschied machen. Deshalb helfen wir Cloud Native Computing für alle zugänglich zu machen. Damit jede und jeder selbst die Kraft und die Magie daran erleben kann. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.
    </div>
  </div>
</section>


<section id="references" class="section container-fluid  mb-23 mb-lg-28">

   <div class="col-lg-6 mb-8">
     <h2 class="mb-4 mb-lg-8">Referenzen – Projekte welche wir gerokt haben</h2> 
   </div>
  

 <div class="row row-cols-1 row-cols-lg-2 gy-10">
   <div class="col">
     <h3 class="mb-2 mb-lg-4">Denner – Lorem ipsum in der Cloud Lösung  </h3> 
     <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi nec nulla luctus lacinia non eu turpis. Etiam in ex impeurna ac augue rdie. </p>
     
     <div class="mt-6 small">
      <h4>Tech Stack</h4>
      Lorem Ipsum Interdum, Docker, RHEL, Zabbix, puppet, RH Satellite 6, python, bash, OpenShift, GlusterFS, Ansible, Prometheus, Elasticsearch
     </div>
   </div>
   <div class="col  ">
  Bild
   </div>
 </div>
</section>


<section id="partner" class="section container-fluid  mb-23 mb-lg-28">

  <div class="col-lg-6 mb-8">
     <h2 class="mb-4 mb-lg-8">Partner – dank unserem Netzwerk überall gut positioniert </h2> 
     Wir halten unsere Augen und Ohren offen und gehen auf unsere Kund:Innen und Partner:Innen ein. Open Source und offene Standards sind für uns selbstverständlich. Denn wer Neuem und anderen Menschen gegenüber nicht aufgeschlossen ist, kommt nicht sehr weit. Im Alleingang oder auf ausgetretenen Pfaden findet man kaum Inspiration und Möglichkeiten zu wachsen.
 
 </div>

 <div class="row gy-10">
    <div class="col">
        <div class="badge rounded-pill border border-2 border-light">Schulungs-Partner</div>
        <div>Logo</div>
    </div>
    <div class="col">
        <div class="badge rounded-pill border border-2 border-light">Schulungs-Partner</div>
        <div>Logo</div>
    </div>
    <div class="col">
        <div class="badge rounded-pill border border-2 border-light">Schulungs-Partner</div>
        <div>Logo</div>
    </div>
    <div class="col">
        <div class="badge rounded-pill border border-2 border-light">Schulungs-Partner</div>
        <div>Logo</div>
    </div>
  

 </div>
</section>


 {{ end }}

{{ define "section" }}
<section class="section container-fluid">
  {{- .Content -}}
</section>
{{ end }}
