{{ define "main" }}
<div class="container-fluid  pt-25 pt-lg-30">


  {{ with .Params.image }}
      <div class="mb-10 mb-lg-20">
        {{ partial "img-srcset.html" (dict "img" . "size" 1200) }}
      </div>
  {{ end }}


  <div class="row">
 
    <div class="col-lg-5">
 
        {{ with .Params.smallTitle}}
          <div class="bigger mb-4">{{ . }}</div>
        {{ end }}
        <h1 class="mb-5 mb-md-8">{{ .Params.titleVisible }}{{ with .Params.titleSublineVisible}}<br><span>{{ . }}</span>{{ end }}</h1>
        {{ .Content }}
 
    </div>
    <div class="col-lg-6 offset-lg-1 pt-4">
    <form  name="{{ .Params.netlifyFormname }}" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" >
      <input type="hidden" name="bot-field" />
      <input type="hidden" name="form-name" value="{{ .Params.netlifyFormname }}" />
      
      <div class="row ">

       <div class="col-md-6">
        <div class="mb-6 form-floating">
          <input type="text" class="form-control" id="first-name" name="first-name" placeholder="{{ i18n "gibDeinVornameEin" }}" required />
          <label for="first-name">{{ i18n "vorname" }}</label>
        </div>
       </div>

       <div class="col-md-6">
        <div class="mb-6 form-floating">
          <input type="text" class="form-control" id="last-name" name="last-name" placeholder="{{ i18n "gibDeinNachnameEin" }}" required />
          <label for="last-name">{{ i18n "nachname" }}</label>
        </div>
       </div>

      </div>
      <div class="mb-6 form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="{{ i18n "gibDeineEmailEin" }}" required />
        <label for="email">{{ i18n "email" }}</label>
      </div>
      <div class="mb-6 form-floating">
        <input type="text" class="form-control" id="phone" name="phone" placeholder="{{ i18n "gibDeineTelefonnummerEin" }}" />
        <label for="phone">{{ i18n "telefonnummer" }}</label>
      </div>
      <div class="mb-6 form-floating">
        <textarea class="form-control textarea" id="message" name="message" rows="5" style="height: 100px" placeholder="{{ i18n "gibDeineNachrichtEin" }}"></textarea>
        <label for="message">{{ i18n "nachricht" }}</label>
      </div>
      <div class="mb-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="agbCheck" required>
          <label class="form-check-label" for="agbCheck">
            {{ i18n "ichHabeDie" }}  <a href="{{ relLangURL "/datenschutzerklaerung/" }}" target="_blank">{{ i18n "datenschutzbestimmungen" }}</a> {{ i18n "gelesen" }}  
          </label>
        </div>   
      </div>
      <div class="mb-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="newsletter" id="newsletterCheck">
          <label class="form-check-label" for="newsletterCheck">
            {{ i18n "fuerDenNewsletterAnmelden" }} 
          </label>
        </div>   
      </div>

      <button type="submit" class="btn btn-outline-light rounded-pill px-3  border-1"  >{{ i18n "anmelden" }}</button>
    
    </form>
    <div class="message-success d-none">{{ i18n "messageSuccess" }}</div>
    <div class="message-error d-none">{{ i18n "messageError" }}</div>


    </div>
  </div>
</div>
{{ end }}
