{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

<header class="banner navbar  fixed-top">
  <div class="container-fluid p-0">
    <a class="navbar-brand" href="{{ "/" | absURL }}">
      <img src='{{ (resources.Get "images/ROKT.svg").Permalink }}' alt="{{ .Site.Params.Title }}" class="logo img-fluid" width="220" height="146">
    </a>

    <nav id="main-menu" class="ms-auto d-none d-lg-block">
    {{ range .Site.Menus.main }}
      <span class="menu-item">
        <a class="menu-link" href="{{ .URL }}">{{- .Name -}}</a>
      </span>
    {{ end }}
    </nav>
  </div>
</header>