<!--layouts/shortcodes/csv-table.html-->
<!--must contain header row-->
{{- $rows := "" -}}
{{- $del := "," -}}
{{- $class := .Get 0 -}}
{{- $del := .Get 1 -}}
{{- $options := dict "delimiter" $del -}}
{{- $rows := .Inner | transform.Unmarshal $options -}}
{{- $headerRow := index $rows 0 -}}
{{- $dataRows := after 1 $rows -}}
<table class="{{$class}}">
  <thead>
  <tr>
    {{- range $headerRow -}}
    <th scope="col">{{ . }}</th>
    {{- end -}}
  </tr>
  </thead>
  <tbody>
  {{- range $rowIndex, $columns := $dataRows -}}
  <tr>
    {{- range $index, $col := $columns -}}
    <td {{ if eq $index 0 }}scope="row"{{end}} data-label="{{index $headerRow $index}}">{{ . }}</td>
    {{- end -}}
  </tr>
  {{- end -}}
  </tbody>
</table>
