// custom style
table.responsive {
  font-size: $font-size-xl;
  margin-bottom: 15px;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #ddd;
}

table.responsive caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table.responsive tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table.responsive td,
table.responsive th {
  padding: 10px;
  border: 1px solid #ddd;
}

table.responsive th {
  font-weight: bold;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  table.responsive {
    border: 0;
  }

  table.responsive caption {
    font-size: 1.3em;
  }

  table.responsive thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.responsive tr {
    display: block;
    margin-bottom: .625em;
    border:none;
  }

  table.responsive td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table.responsive td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.responsive td:last-child {
    border-bottom: 3px solid #ddd;
  }
}
