/*
@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Light"), url("/fonts/vendor/roboto/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Medium"), url("/fonts/vendor/roboto/Roboto-Medium.woff") format("woff");
}
*/
@font-face {
  font-family: 'Athletics-Regular';
  src: url('/fonts/Athletics-Regular.woff') format('woff'),
       url('/fonts/Athletics-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;  
}

@font-face {
  font-family: 'Athletics-Bold';
  src: url('/fonts/Athletics-Bold.woff') format('woff'),
       url('/fonts/Athletics-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}