:root {
  scroll-behavior: auto !important;

  --bs-body-bg: var(--bs-primary);
  --bs-body-color-rgb: 255, 255, 255;
}

html {
  font-size: 10px;
  // stylelint-disable
  height: -webkit-fill-available;
  // stylelint-enable
}

body {
  background: $blue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // stylelint-disable
  min-height: -webkit-fill-available;
  // stylelint-enable
  color: #fff;
  font-family: Athletics-Regular, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;

  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
    padding-top: 20rem;
  }

  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

.bold {
  font-family: Athletics-Bold, sans-serif;
}

.regular {
  font-family: Athletics-Regular, sans-serif;
}

.bigger {
  font-size: 2rem;
}

.normal {
  font-size: 1.6rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
  }
}

h1,
.h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-feature-settings: "salt";

  @include media-breakpoint-up(md) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8.8rem;
  }

  span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;

    @include media-breakpoint-up(md) {
      -webkit-text-stroke-width: 2px;
    }
  }
}

h2,
.h2 {
  color: $green;
  font-size: 2.6rem;
  line-height: normal;

  @include media-breakpoint-up(lg) {
    font-size: 3.6rem;
  }
}

h3,
.h3 {
  color: $green;
  font-size: 2rem;
  line-height: 110%;

  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-size: 1em;
  color: $green;
  margin-bottom: 0;
}

.extra-small {
  font-size: 1.2rem;
}

article {
  h2,
  h3 {
    margin-top: 1em;
  }

  h1 {
    margin-top: 0 !important;
  }
}

a,
button.link {
  color: #fff;

  svg {
    transform: rotate(0deg);
    transition: 0.3s;
    transform-style: preserve-3d;
  }

  &:hover,
  &.active {
    color: $green;
    text-decoration: none;

    .icon-draw:not(.line) svg {
      transform: rotate(-10deg) !important;

      path {
        stroke: $green;
      }
    }
  }

  ul &,
  ol &,
  label &,
  p & {
    font-family: Athletics-Bold, sans-serif;
    color: $secondary;

    &:hover {
      color: #fff;
    }
  }

  &.line {
    font-family: Athletics-Bold, sans-serif;
    text-decoration: underline;
    text-decoration-color: var(--bs-secondary);
    text-underline-offset: 0.4em;
    text-decoration-thickness: 0.2rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.btn {
  &:hover,
  &.active {
    // color: $green;
    text-decoration: none;

    &.icon-draw svg path {
      stroke: $green;
    }
  }
}

.icon-draw.line {
  margin-top: -1rem;
}

::marker {
  color: $green;
}

ol,
ul {
  padding-left: 1.3rem;

  #services & {
    padding-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;

    li {
      margin-bottom: 0.75rem;
    }
  }
}

p {
  margin-bottom: 1.5rem;

  b {
    font-family: Athletics-Bold, sans-serif;
    font-weight: normal;
    color: $green;
  }
}

small,
.small {
  font-size: 1.4rem;
}

.shadow {
  box-shadow: 0 0 1rem 0.22rem rgba($green, 0.7) !important;
}

.z-index-1 {
  z-index: 1;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img-credits {
  opacity: 0.5;
}

pre {
  background: #cde9d9;
  color: var(--bs-primary);
  padding: 2rem 2rem 1rem;

  @include media-breakpoint-up(lg) {
    padding: 5rem 4rem 3rem;
    margin: 4rem 4rem 8rem;
  }
}

.container-fluid {
  // overflow-x: hidden;
  max-width: 1600px;

  @include media-breakpoint-up(md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@include media-breakpoint-up(lg) {
  .position-lg-absolute {
    position: absolute;
  }
}
