html {
  font-size: 10px;
  // stylelint-disable
  height: -webkit-fill-available;
  // stylelint-enable
}

/*
html,
body {
  scroll-padding-top: 12rem;

  @include media-breakpoint-up(lg) {
    scroll-padding-top: 24rem;
  }
*/

body {
  background: $blue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // stylelint-disable
  min-height: -webkit-fill-available;
  // stylelint-enable
  color: #fff;
  font-family: Athletics-Regular, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;

  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
    padding-top: 24rem;
  }

  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

.bold {
  font-family: Athletics-Bold, sans-serif;
}

h1,
.h1 {
  font-size: 3.6rem;

  @include media-breakpoint-up(lg) {
    font-size: 8.8rem;
  }

  span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

h2,
.h2 {
  color: $green;
  font-size: 2.6rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.6rem;
  }
}

h3,
.h3 {
  color: $green;
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-size: 1em;
  color: $green;
  margin-bottom: 0;
}

a {
  color: #fff;

  &:hover,
  &.active {
    color: $green;
    text-decoration: none;
  }
}

@include media-breakpoint-up(md) {
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

::marker {
  color: $green;
}

ol,
ul {
  padding-left: 1.3rem;
}

.container-fluid {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;

  @include media-breakpoint-up(md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 160px;
    padding-right: 160px;
  }
}
